<div *ngIf="task$ | async as task else loading">
  <h1>{{task.title}}</h1>
  <p>{{task.description}}</p>
  <button class="btn btn-primary" (click)="submitTask()">Загрузить решение</button>
</div>
<ng-template #loading>
  <p>Loading..</p>
</ng-template>