<nav  class="navbar navbar-toggleable-md navbar-inverse bg-inverse" style="background-color: #e3f2fd;">
    <a class="navbar-brand" routerLink="/">Laboratory</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/task" routerLinkActive="active">Задачи</a>
        </li>
    </ul>


    <span  *ngIf="loggedIn$ | async" class="navbar-text">{{(authService.auth$ | async).name}}</span>
    <span class="logIn-btn">
        <button *ngIf="loggedIn$ | async" class="btn btn-outline-danger" (click)="logOut()">Выйти</button>
        <button *ngIf="!(loggedIn$ | async)" class="btn btn-outline-primary" routerLink="/login">Войти</button>
    </span>
</nav>
<div class="intro-header container">
    <router-outlet></router-outlet>
</div>