<form class="task-form" (ngSubmit)="onSubmit(); taskForm.reset()" #taskForm="ngForm">
    <input type="text" name="title" [(ngModel)]="title" placeholder="Название задачи"
    required>
    <button type="submit" [disabled]="taskForm.form.invalid" class="btn btn-info">Добавить</button>
</form>