<h3>Добро пожаловать в центр оценки работ</h3>
<h4>Вы находитесь на домашней странице</h4>
<h5 *ngIf="!(authService.loggedIn$ | async)">Пожалуйста, войдите или зарегистрируйтесь, чтобы загрузить свою работу</h5>