<div *ngIf="tasks else loading">

   <div *ngIf="tasks.length > 0 else notFound">
      <div class="task-list" *ngIf="tasks.length">
         <app-task-item *ngFor="let task of tasks" [task]="task"></app-task-item>
      </div>
   </div>
   <ng-template #notFound>
      <h1>Задач не найдено</h1>
   </ng-template>

</div>

<ng-template #loading>
   <h1>Загружаем задачи...</h1>
</ng-template>