<div class="card task">
  <div class="clearfix card-header">
    <span class="float-left">{{task.title}}</span>
    <button class="btn btn-secondary float-right" [routerLink]="['/task/',task.id]">Подробнее</button>
  </div>
  <div class="card-block">
    <p>{{task.description | maxTextLength : 100 }}</p>
  </div>
  <div class="card-footer align-content-center">
    <button *ngIf="authService.loggedIn$ | async" class="btn btn-primary upload-btn">Загрузить решение</button>
  </div>
</div>