<form class="form-signin" method="POST" action="#" role="form">
    <div class="form-group">
        <h2>Вход в систему</h2>
    </div>
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="form-group">
        <label class="control-label" for="signupEmail">Email</label>
        <input id="signupEmail" required type="email" maxlength="100" class="form-control" [(ngModel)]="email"
               [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
        <label class="control-label" for="signupPassword">Пароль</label>
        <input id="signupPassword" required type="password" maxlength="25" class="form-control"
               length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <button (click)="onLogin()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
            Вход
        </button>
    </div>
    <p><a [routerLink]="['/registry']"> <i class="fa fa-fw fa-group"></i> Регистрация </a>
    </p>
    <hr>
</form>