<form class="form-signin" method="POST" action="#" role="form">
    <div class="form-group">
        <h2>Регистрация</h2>
    </div>
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="form-group">
        <label class="control-label" for="signupName">Имя</label>
        <input id="signupName" type="text" maxlength="20" class="form-control"
               [(ngModel)]="registrationUser.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="signupEmail">Email</label>
        <input id="signupEmail" type="email" maxlength="30" class="form-control"
               [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="signupPassword">Password</label>
        <input id="signupPassword" type="password" maxlength="20" class="form-control"
               length="40" [(ngModel)]="registrationUser.password"
               [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <button (click)="onRegister()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
            Зарегистрироваться
        </button>
    </div>
    <hr>
    <p>Есть уже аккаунт? <a [routerLink]="['/login']"> <i class="fa fa-fw fa-lock"></i>Войти</a></p>
</form>